<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>
 {% include navbar.html %}
 <div class="container containerbg">
   <div class="row rowoffset">
    <div class="col-md-9">
      {{ content }}
      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm" >
      <div class="well about-font">
        <h3>About</h3>
        <p>
          This blog is dedicated to a number of topics. Honestly it's what ever I feel like talking about on any given day. Topics will most always be tech related some how. Major themes will be low level debugging, .NET hacking, DevOps, and programming.
        </p>
        <p>
          All thoughts and opinions on this blog are my own.
        </p>
        <div style="display: flex; padding-top: 0.5em">
          <a href="http://www.linkedin.com/in/debugthings/"><img src="https://dlc1-s.licdn.com/sites/default/files/InBug-60px-R.png" class="linked" /></a>
          <a href="http://www.twitter.com/debugthings"><div class="twitbox"><img src="https://g.twimg.com/Twitter_logo_white.png" /></div><span>@debugthings</span></a>
        </div>  
      </div>
    </div>
  </div>
</div>


</body>
</html>
